{% extends "layout.html" %}
{% block main %}
  <div class="container">
    <div class="section">
        <h1 class="center-align move-down connect-heading"> Connect with Us </h1>
        <div class="row">
            <div class="col s12 m4 l4 connect-div">
                <a href="mailto:cornellthrift@gmail.com">
                    <img class="connect-icon" src="{{ url_for('static', filename='images/mail.svg') }}" 
                        alt="A picture of an E-Mail logo, linking to the Cornell Thrift's Email. "/>
                </a>
            </div> 
            <div class="col s12 m4 l4 connect-div">
                <a href="https://www.facebook.com/cornellthrift/">
                    <img class="connect-icon" src="{{ url_for('static', filename='images/facebook.svg') }}" 
                        alt="A picture of the Facebook logo, linking to the Cornell Thrift's Facebook Page."/>
                </a>
            </div> 
            <div class="col s12 m4 l4 connect-div">
                <a href="https://www.instagram.com/cornellthrift/">
                    <img class="connect-icon" src="{{ url_for('static', filename='images/instagram.svg') }}" 
                        alt="A picture of the Instagram logo, linking to the Cornell Thrift's Instagram Page."/>
                </a>
            </div> 
        </div>
    </div>
    <div class="section" style="margin-top: 30px;">
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="https://strikingly.us13.list-manage.com/subscribe/post?u=8c2176c0498220eb483283e92&amp;id=e1c2204666" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h5> Subscribe to the Cornell Thrift Newsletter </h5>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <label for="mce-EMAIL">email address</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8c2176c0498220eb483283e92_e1c2204666" tabindex="-1" value=""></div>
                <div class="clear"> 
                    <button class="btn waves-effect waves-light" type="submit" value="Subscribe" id="mc-embedded-subscribe" name="subscribe">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
        </div>

<!--End mc_embed_signup-->
    </div>
</div>
{% endblock %}