{% extends "layout.html" %}
{% block main %}
<div class="container">
    <div class="section">
        <h1 class="center-align move-down"> Credits </h1>
        <div class="collection">
            <a href="https://github.com/bryantleee" class="collection-item">Website by Bryant Lee</a>
            <a href="https://materializecss.com/" class="collection-item">Website made with Materialize</a>
            <a href="https://github.com/umluizlima" class="collection-item">Codebase forked from umluizlima</a>
            <a href="http://www.mauriliomonsu.com/" class="collection-item">Logos in the "Contact" page made by Mauilio Monsu</a>
        </div>
    </div>
</div>

{% endblock %}