{% extends "layout.html" %}
{% block main %}

{% macro display_member(name, position, photo)%}
<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      <img src="{{ url_for('static', filename='images/members/'+photo) }}" 
        alt="Photo of {{name}}, {{position}}"/>
      <span class="card-title">{{ name }}</span>
    </div>
    <div class="card-content">
      <p> {{ position }} </p>
    </div>
  </div>
</div>
{% endmacro %}

{% set members = [
  ['Clara', 'Executive Director', '3.jpg'],
  ['Meghan', 'Executive Director', '7.jpg'],
  ['Chelsea', 'Treasurer', '2.jpg'],
  ['Becky', 'Event Planner', '1.jpg'],
  ['Dana', 'Operations Manager of West Campus', '4.jpg'],
  ['Jackie', 'Operations Manager of Greek Houses', '5.jpg'],
  ['Kemba', 'Graphics Designer', '6.jpg'],
  ['Sharon', 'Publicity Director', '8.jpg'],
  ['Stephanie', 'Collaboration Coordinator', '9.jpg']

] %}

  <div class="container">
    <div class="section">
      <h1 class="center-align move-down"> Meet the Members </h1> 
      {% for member in members %}

        {% if loop.index % 3 == 1 %}
        <div class="row">
        {% endif %}
        {{ display_member(member[0], member[1], member[2]) }}
        {% if loop.index % 3 == 0 %}
        </div>
        {% endif %}
      {% endfor %}
    </div>
</div>

{% endblock %}