/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}




/* custom css */
.instagram-media{
  margin:0 auto !important;
}

.nav_option{
  color: black !important;  
}

.home-logo, .home-logo-nav{
  max-width: 100px !important;
}
.home-logo-nav{
  -webkit-touch-callout: none;
}

.parallax-container {
  height: 450px;
}

@font-face {
  font-family: "Baskerville";
  src: url(../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
  font-family: "Avenir-next";
  src: url(../fonts/avenir-next/AvenirNextLTPro-Regular.otf);
}

.main-title{
  font-size: 100px;
}

.main-title, .catchy-phrase{
  font-family: "Avenir-next", sans-serif;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.avenir{
  font-family: "Avenir-next", sans-serif;
}

.orrr{
  font-family: "Baskerville", sans-serif;
}

.mission-blurb{
  font-size: 22px;
  line-height: 2.0;
}

.orange-text-special{
  color: #ff6e16;
}
.description{
  text-align: justify !important;
}

.our-mission{
  font-size: 40px;
}

.sidenav{
  text-align: center;
}


.learn-more{
  background-color: #ff6e16;
}
.learn-more:hover{
  background-color: #ffa216;
}
.learn-more:active{
  background-color: #d45f16;
}

@media only screen and (max-width: 500px) {
  .main-title{
    font-size: 70px;
  }
  .mission-blurb{
    font-size: 17px;
  }
  

}
@media only screen and (max-width: 993px) {
  .home-logo{
    display: none;
  }
}

#refresh{
  background-color: green;
}