/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 * Made By MaterializeCSS.com
 */
nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}
.sidenav-trigger {
  color: #26a69a;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* custom css */
.instagram-media{
  margin:0 auto !important;
}

.nav_option{
  color: black !important;  
}

.home-logo, .home-logo-nav{
  width: 150px;
  transition: width .1s;
}

.home-logo-below{
  width: 100px;
}

body{
  -webkit-touch-callout: none;
  overscroll-behavior: none;
}

.parallax-container {
  height: 450px;
}

@font-face {
  font-family: "Baskerville";
  src: url(../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
  font-family: "Avenir-next";
  src: url(../fonts/avenir-next/AvenirNextLTPro-Regular.otf);
}
.main-title{
  font-size: 100px;
}
.main-title, .catchy-phrase{
  font-family: "Avenir-next", sans-serif;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}
.card.medium, .card-image, .card.large .card-image {
  max-height: 70% !important;
}
.create-gap-left{
  margin-left: 60px;
}
.create-gap-right{
  margin-right: 80px;
}
.avenir{
  font-family: "Avenir-next", sans-serif;
}
.mission-blurb{
  font-size: 22px;
  line-height: 2.0;
}
.orange-text-special{
  color: #ff6e16;
}
.description{
  text-align: justify !important;
}
.our-mission{
  font-size: 40px;
}
.sidenav{
  text-align: center;
}
.event-holder{
  max-width: 500px;
}
.learn-more{
  background-color: #ff6e16;
}
.learn-more:hover{
  background-color: #ffa216;
}
.learn-more:active{
  background-color: #d45f16;
}
#refresh{
  background-color: red;
}
.sidenav-trigger{
  color: #362f2d;
}
.move-down{
  margin-top: 65px;
}
.with-subheading{
  margin-bottom: 0px !important;
}
.spacer{
  margin-top: 3px !important;
}
.custom-blue{
  background-color: #91c7d7;
}
h1, h2, h3, h4, h5, p, input, label{
  font-family: "Avenir-next", sans-serif;
}
.connect-icon{
  max-width: 150px;
}
.footer-info-credits{
  margin-right: 100px;
}
.footer-info-copyright{
  margin-left: 100px;
  text-align: center;
}
.connect-div{
  text-align: center;
}
.add-shadow{
  box-shadow:  0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);;
}
nav{
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: box-shadow .15s;
  transition: -webkit-box-shadow .15s;
}
.connect-heading{
  margin-bottom: 50px;
}
@media only screen and (max-width: 700px) {
  .main-title{
    font-size: 70px;
  }
  .mission-blurb{
    font-size: 17px;
  }
}
@media only screen and (max-width: 993px) {
  .home-logo{
    display: none;
  }
  .move-down{
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1310px) {
  .connect-icon{
    max-width: 100px;
  }
}
@media only screen and (max-width: 1080px) {
  .connect-icon{
    max-width: 100px;
  }
}
@media only screen and (max-width: 716px) {
  .connect-icon{
    max-width: 100px;
  }
}
@media only screen and (max-width: 601px) {
  .connect-icon{
    max-width: 100px;
  }
  .connect-heading{
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 346px) {
  .connect-icon{
    max-width: 80px;
  }
}