<footer class="page-footer teal">
    <div class="container">
      <div class="col l12">
        <h5 class="white-text center-align">Connect</h5>
        <ul>
          <li class="center-align"><a class="white-text" href="mailto:cornellthrift@gmail.com"> Email</a></li>
          <li class="center-align"><a class="white-text right-align" href="https://www.facebook.com/cornellthrift/"> Facebook </a></li>
          <li class="center-align"><a class="white-text" href="https://www.instagram.com/cornellthrift/"> Instagram </a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
        <span class="footer-info-copyright">
            Copyright © 2019 
        </span>
        <span class="footer-info-credits">
          <a href="{{url_for('main.credits')}}">Credits</a>
        </span>
    </div>
  </footer>
