
{% macro add_nav_bar_link(text, link, gap) %}
    <li class="nav_option">
        <a class="waves-effect avenir 
        {% if gap is not none %}
        {{gap}}
        {% endif %}" href="{{url_for(link)}}">{{text}}</a></li>
{% endmacro %}


{% set links = [['Happenings', 'main.happenings', none], 
                ['Members', 'main.members', 'create-gap-right'],
                ['Resources', 'main.resources', 'create-gap-left'],
                ['Connect', 'main.connect', none],] %}

<div class="navbar-fixed">
    <nav class="white nav-center">
    <div class="nav-wrapper container">
        <a class="brand-logo center center-logo" href="{{url_for('main.index')}}">  
            <img class="home-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="test logo">
        </a>

        <ul class="center hide-on-med-and-down">
            {% for link in links %}
            {{ add_nav_bar_link(link[0], link[1], link[2])}}
            {% endfor %}
        </ul>
        
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    </nav>
</div>
       
       
<ul id="nav-mobile" class="sidenav">
    <a class="brand-logo center center-logo" href="{{url_for('main.index')}}">  
        <img class="home-logo-nav" src="{{ url_for('static', filename='images/logo-light.png') }}" alt="test logo">
    </a>
    <li class="nav_option"><a class="waves-effect avenir" href="{{url_for('main.index')}}">Home</a></li>

    {% for link in links %}
    {{ add_nav_bar_link(link[0], link[1])}}
    {% endfor %}


    </ul>