
{% macro add_nav_bar_link(text, link) %}
    
    <li class="nav_option"><a href="{{link}}">{{text}}</a></li>

{% endmacro %}


{% set links = ['Home'] %}

<div class="navbar-fixed">
    <nav class="white" role="navigation">
    <div class="nav-wrapper container ">

        <ul class="left hide-on-med-and-down">
            
            {{ add_nav_bar_link ('Google', 'https://www.google.com')}}
            {{ add_nav_bar_link ('Duck', 'https://www.duckduckgo.com')}}
            <a class="brand-logo center" href="{{url_for('main.index')}}">  
                <img class="home_logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="test logo">
            </a>

            {{ add_nav_bar_link ('bing', 'https://www.bing.com')}}
            {{ add_nav_bar_link ('Apple', 'https://www.apple.com')}}
                    {{ add_nav_bar_link ('bing', 'https://www.bing.com')}}


        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li class="nav_option"><a href="{{url_for('main.index')}}">Home</a></li>
            {{ add_nav_bar_link ('Google', 'https://www.google.com')}}
            {{ add_nav_bar_link ('Duck', 'https://www.duckduckgo.com')}}
            {{ add_nav_bar_link ('bing', 'https://www.bing.com')}}
            {{ add_nav_bar_link ('Apple', 'https://www.apple.com')}}

            </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    </nav>
</div>