<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146591204-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-146591204-1');
  </script>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title> Cornell Thrift </title>
  <meta name="description" content="Catch the latest updates from Cornell Thrift!">
  <meta name="theme-color" content="#FFFFFF">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Cornell Thrift">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
</head>

<body>
  {% include 'chunks/nav.html' %}
  {% block body %}{% endblock %}

  <!-- JS -->
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  <!-- <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/8c2176c0498220eb483283e92/472f26c09518565d3efe36c35.js");</script> -->

</body>

</html>
